# Django
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Database
*.sqlite3
*.sqlite3-journal

# Environment variables
.env
.env.local
.env.*.local

# Docker
.dockerignore
docker-compose.override.yml
volumes/
postgres_data/
pgdata/

# Static and media
/static/
/media/

# Logs
*.log
logs/

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# MacOS
.DS_Store
